<ion-header>
    <ion-toolbar>
        <ion-title text-center>
            <app-logo></app-logo>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">{{!isSending? "Cancel" : "Close"}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
  <form full-height [(formGroup)]="formModel" (ngSubmit)="onSubmit()">
    <ion-grid full-height no-padding>
      <ion-row full-height no-padding>
        <ion-col height-85 size="12" align-items-start>
          <h6>Save Address</h6>
          <ion-list>
            <ion-label position="floating">Name</ion-label>
            <mat-form-field floatLabel='always' class="full-width">
              <mat-label hidden></mat-label>
              <input type="text" placeholder="Input name" matInput formControlName="name">
            </mat-form-field>
            <ion-label position="floating">Wallet Address</ion-label>
            <mat-form-field floatLabel='always' class="full-width">
              <mat-label hidden></mat-label>
              <input type="text" placeholder="Input address" matInput formControlName="address">
            </mat-form-field>
          </ion-list>
          <div *ngIf="isSending" text-center>
              <div *ngIf="status==='pending'" item-center>
                  <ion-icon margin-top custom-icon size="large" src="assets/svg/loading.svg"></ion-icon>
                  <ion-label color="medium"><small size-md> &nbsp;<i>Saving</i></small></ion-label>
              </div>
              <div *ngIf="status==='success'" item-center>
                  <ion-icon margin-top custom-icon size="large" src="assets/svg/success.svg"></ion-icon>
                  <ion-label color="medium"><small size-md> &nbsp;<i>Success</i></small></ion-label>
              </div>
              <div *ngIf="status==='fail'" item-center>
                  <ion-icon margin-top custom-icon size="large" src="assets/svg/failed.svg"></ion-icon>
                  <ion-label color="medium"><small size-md> &nbsp;<i>Failed</i></small></ion-label>
              </div>

          </div>
        </ion-col>
        <ion-col height-15 size="12" align-items-end no-padding>
          <ion-row align-items-end full-height no-padding>
            <ion-col padding-bottom>
              <ion-button [disabled]="!formModel.valid" type="submit" align-items-end shadow expand="block">Save</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>