<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <loading top="35%" *ngIf="loading; else loadingComplate"></loading>
  <ng-template #loadingComplate>
    <ion-toolbar class="fixed-container" no-padding>
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateAddress()"></ion-searchbar>
    </ion-toolbar>
    <ion-list class="transaction-list">
      <!-- <ion-item mode="md" *ngFor="let item of addressBookData" no-inner-end no-padding lines="full">
          <ion-label color="dark" text-wrap>
            <h3>{{item.name}}</h3>
            <small>
              <ion-text color="medium">{{item.soloAddress}}</ion-text>
            </small>
          </ion-label>
        </ion-item> -->
      <ion-item-group *ngFor="let group of groupViewed">
        <ion-item-divider sticky>
          <ion-label>
            <h1 fw-6>
              <ion-text color="medium">{{group}}</ion-text>
            </h1>
          </ion-label>
        </ion-item-divider>

        <ion-item-sliding *ngFor="let item of getAddressByGroup(group)">
          <ion-item mode="md" no-inner-end no-padding lines="full">
            <ion-label color="dark" text-wrap>
              <h3>{{item.name}}</h3>
              <small>
                <ion-text color="medium">{{item.soloAddress}}</ion-text>
              </small>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
    <ion-grid class="not-found-content" no-padding [hidden]="groupViewed.length > 0">
      <ion-row full-height no-padding align-items-center>
        <ion-col text-center>
          <img class="searh-icon" src="assets/svg/searh-icon.svg" /><br/>
          <p><i><ion-text color="medium">Results not found</ion-text></i></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>