.fixed-container {
    height: 70px;
    padding-top: 10px;

    ion-searchbar {
        padding: 15px 7px 15px 15px;
    }
}
.transaction-list {
    padding-top: 60px;
}

ion-item-divider {
    --background: #fff;
    --padding-start: 0;

    ion-label {
        margin-top: 15px;
        margin-bottom: 0;
    }
}

.not-found-content{
    height: calc(100% - 100px);
}

