ion-card {
    margin-bottom: 10px;
    margin-right: 12px;
}

.fixed-container {
    height: 325px;
}

.transaction-list {
    padding-top: 315px;
}

.qr-code-wallet {
    position: absolute;
    top: 20px;
    width: 100px;
    right: 20px;
}
