<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="fixed-container">
    <ion-card>
      <ion-card-header>
        <ion-label>Total Mozo Coin</ion-label>
        <ion-item mode="md" lines="none" no-padding>
          <ion-icon no-stroke src="assets/svg/mozo-offchain.svg"></ion-icon>&nbsp;
          <ion-card-title>{{balance | number}}</ion-card-title>
        </ion-item>
        <ion-card-subtitle>₩102.230</ion-card-subtitle>
        <qrcode class="qr-code-wallet" [qrdata]="address"></qrcode>
        <p>
          <ion-label>Wallet Address</ion-label><br />
          <small>{{address}}</small>
        </p>
      </ion-card-header>

    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col no-padding-top padding-start>
          <ion-button (click)="send()" margin-end-xs large-radius expand="block">Send</ion-button>
        </ion-col>
        <ion-col no-padding-top>
          <ion-button margin-start-xs large-radius expand="block">Payment Request</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h6 padding-start padding-end>Transaction History</h6>
  </div>
  <loading top="75%" *ngIf="loading; else loadingComplate"></loading>
  <ng-template #loadingComplate>
    <ion-list *ngIf="transactionData.length > 0 ; else noData" class="transaction-list">
      <ng-container *ngFor="let item of transactionData">
        <ion-item mode="md" *ngIf="item.addressTo.toLowerCase() != address.toLowerCase(); else elseBlock"
          no-inner-end no-padding lines="full">
          <ion-icon size="large" slot="start" src="assets/svg/send.svg"></ion-icon>
          <ion-label color="medium" text-wrap>
            <h3>Sent</h3>
            <small><i>
                <ion-text color="medium">To Store - {{item.time * 1000 | date:'hh:mm MMM d, y'}}</ion-text>
              </i></small>
          </ion-label>
          <label slot="end">
            <ion-text>-{{item.amount / 100 | number}}</ion-text><br />
            <!-- <small><i>300</i></small> -->
          </label>
        </ion-item>
        <ng-template #elseBlock>
          <ion-item mode="md" no-inner-end no-padding lines="full">
            <ion-icon size="large" slot="start" src="assets/svg/receive.svg"></ion-icon>
            <ion-label color="medium" text-wrap>
              <h3>Received</h3>
              <small><i>
                  <ion-text color="medium">From Store - {{item.time * 1000 | date:'hh:mm MMM d, y'}}</ion-text>
                </i></small>
            </ion-label>
            <label slot="end">
              <ion-text color="primary">+{{item.amount / 100 | number}}</ion-text><br />
              <!-- <small><i>300</i></small> -->
            </label>
          </ion-item>
        </ng-template>
      </ng-container>
    </ion-list>
    <ng-template #noData>
      <ion-list class="transaction-list">
        <ion-item text-center no-inner-end padding lines="none">
          <i>
            <ion-text padding color="medium">No history data</ion-text>
          </i>
        </ion-item>
      </ion-list>
    </ng-template>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="getTransactions($event)">
      <ion-infinite-scroll-content class="custom-spinner" loadingSpinner="dots" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
</ion-content>