<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Back"></ion-back-button>
        </ion-buttons>
        <ion-title text-center>
            <app-logo></app-logo>
        </ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-content padding>
    <ion-grid full-height no-padding>
        <ion-row full-height no-padding>
            <ion-col text-center align-items-center>
                <loading></loading>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>