// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #fff;
  /** primary **/
  --ion-color-primary: #4e94f3;
  --ion-color-primary-rgb: 78,148,243;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #4582d6;
  --ion-color-primary-tint: #609ff4;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12,209,232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #17b978;
  --ion-color-success-rgb: 23,185,120;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #14a36a;
  --ion-color-success-tint: #2ec086;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f05454;
  --ion-color-danger-rgb: 240,84,84;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #d34a4a;
  --ion-color-danger-tint: #f26565;

  /** dark **/
  --ion-color-dark: #141a22;
  --ion-color-dark-rgb: 20,26,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #12171e;
  --ion-color-dark-tint: #2c3138;

  /** medium **/
  --ion-color-medium: #969696;
  --ion-color-medium-rgb: 150,150,150;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #848484;
  --ion-color-medium-tint: #a1a1a1;

  /** light **/
  --ion-color-light: #e8e8e8;
  --ion-color-light-rgb: 232,232,232;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #cccccc;
  --ion-color-light-tint: #eaeaea;

  --ion-toolbar-background: #fff;
  --ion-tab-bar-background: #fff;
}


.ios {
  --ion-toolbar-background: #fff;
  --ion-tab-bar-background: #fff;
}

:host {
  --padding-top: 10px;
  --padding-end: 10px;
  --background: var(--ion-toolbar-background, #f8f8f8);
  --color: var(--ion-toolbar-color, var(--ion-text-color, #000));
  --border-color: var(--ion-toolbar-border-color, var(--ion-border-color, rgba(0, 0, 0, 0.2)));
  --padding-bottom: 4px;
  --padding-start: 4px;
  --min-height: 50px;
}

.primary [no-background-btn] {
  --border-color: var(--ion-color-primary);
  --background: transparent !important;
  --background-activated: transparent !important;
  --background-focused: transparent !important;
  --color: var(--ion-color-primary);
  --color-activated: var(--ion-color-primary);
  --color-focused: var(--ion-color-primary);
}

.medium [no-background-btn] {
  --border-color: var(--ion-color-medium);
  --background: transparent !important;
  --background-activated: transparent !important;
  --background-focused: transparent !important;
  --color: var(--ion-color-medium);
  --color-activated: var(--ion-color-medium);
  --color-focused: var(--ion-color-medium);
}

ion-tab-bar {
  box-shadow: 0px 0px 8px 0px rgba(60, 57, 62, 0.15);
  border-top: 0;
}

ion-header ion-toolbar:first-child {
  padding-top: 2px;
}

.md {

  ion-header,
  .header-md {
    border-bottom: 1px solid var(--ion-color-light-shade);

    &:after {
      background: none !important;
    }
  }
}

small[size-md] {
  font-size: 90%;
}

[large-radius] {
  --border-radius: 25px;
}

ion-button:not(.circle) {
  font-size: 13px;
  --height: 44px;
}

ion-button.button-small {
  --height: 40px;
}

ion-input {
  font-size: 13px;
}

ion-toolbar {
  border-bottom: 1px;
  min-height: 50px;

  ion-title,
  .toolbar-container {
    min-height: 50px;
  }

}

.custom-loading {
  --color: #4e94f3;

  ion-backdrop {
    opacity: 0.1 !important;
  }

  .loading-wrapper {
    background-color: transparent;
  }
}