<ion-header>
    <ion-toolbar>
        <ion-title text-center>
            <app-logo></app-logo>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Cancel</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-grid *ngIf="!isSending; else sending" full-height no-padding>
        <ion-row full-height no-padding>
            <ion-col height-20 size="12" text-center align-items-start>
                <div margin-vertical *ngIf="isPinConfirm; else pinCode">
                    <h3 title no-margin>CONFIRM SECURITY PIN</h3>
                    <p>Re-enter your PIN</p>
                </div>
                <ng-template #pinCode>
                    <div margin-vertical>
                        <h3 title no-margin>ENTER YOUR SECURITY PIN</h3>
                        <p>Security PIN should be 6 di-git numbers</p>
                    </div>
                </ng-template>
            </ion-col>
            <ion-col height-65 size="12" align-items-stretch>
                <pin-code (change)="onChange($event)"></pin-code>
            </ion-col>
            <ion-col height-15 size="12" align-items-end no-padding>
                <ion-row align-items-end full-height no-padding>
                    <ion-col padding-bottom>
                        <!-- <ion-button [disabled]="pin.length <= 5" (click)="continue()" align-items-end shadow expand="block">Continue</ion-button> -->
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ng-template #sending>
        <ion-grid full-height no-padding>
            <ion-row full-height no-padding>
                <ion-col padding-top margin-top height-20 size="12" text-center align-items-start>
                    <img src="assets/svg/sending.svg" />
                    <p>Your TX has been broadcast</p>
                </ion-col>
                <ion-col padding-top margin-top-sm height-65 size="12" text-center align-items-stretch>
                    <ion-label>TX Hash:</ion-label>
                    <div margin-top-sm>
                        <ion-label color="primary"><small size-md>0x97309d360C015695cf50892f035E516ccA1898F0</small></ion-label>
                    </div>
                    <div *ngIf="status==='pending'" padding item-center>
                        <ion-icon margin-top custom-icon size="large" src="assets/svg/loading.svg"></ion-icon>
                        <ion-label color="medium"><small size-md> &nbsp;<i>Pending</i></small></ion-label>
                    </div>
                    <div *ngIf="status==='success'" padding item-center>
                        <ion-icon margin-top custom-icon size="large" src="assets/svg/success.svg"></ion-icon>
                        <ion-label color="medium"><small size-md> &nbsp;<i>Success</i></small></ion-label>
                    </div>
                    <div *ngIf="status==='fail'" padding item-center>
                        <ion-icon margin-top custom-icon size="large" src="assets/svg/failed.svg"></ion-icon>
                        <ion-label color="medium"><small size-md> &nbsp;<i>Failed</i></small></ion-label>
                    </div>
                </ion-col>
                <ion-col height-15 size="12" align-items-end no-padding>
                    <ion-row align-items-end full-height no-padding>
                        <ion-col padding>
                            <ion-button margin-bottom fill="outline" large-radius expand="block">
                                <ion-icon src="assets/svg/paper-icon.svg"></ion-icon>&nbsp;
                                View Transaction Detail
                            </ion-button>
                            <ion-button fill="outline" large-radius expand="block">
                                <ion-icon name="md-person-add"></ion-icon>&nbsp;
                                View Transaction Detail
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-template>
</ion-content>