.fixed-container {
    height: 70px;
    padding: 0 15px;
    margin-left: -5px;
    margin-right: 0;

    ion-col {
        background-color: #fff;
        padding: 15px 5px;
    }
    
}

.transaction-list {
    padding-top: 70px;
}